.bmw {
display: none;
}

.larsonfive {
/* display: none; */
}

.instructor {
/*color: gray;*/
border: 5px solid lightblue;

display: none;
}

.comment {
   display: none;
}
.note {
  display:none;
}

.hidden {display: none;}
.vectorintegral {display:none;}